<div class="flex mb-5 gap-4" [ngClass]="{'pointer-events-none opacity-30': isBeingDeleted}">
    <div class="flex flex-col items-center w-80">
        <p class="text-base ">{{skill.name | titlecase}}</p>
        <mat-progress-bar [value]="skill.level"></mat-progress-bar>
    </div>
    <div *ngIf="isEditable" class="w-fit ml-auto h-fit mt-auto flex flex-col gap-1">
        <app-edit-button (click)=" openForm()"></app-edit-button>
        <app-delete-button (click)="delete()"></app-delete-button>
    </div>
</div>

<app-modal-form *ngIf="showForm" [questions]="questions" [onSubmit]="update" [onModalClick]="closeForm"
    [baseObject]="skill"></app-modal-form>