<div class="mt-16 flex justify-between items-center mb-10">
    <span class="text-3xl">Habilidades</span>
    <app-add-button (click)="openForm()" *ngIf="isEditable"></app-add-button>
</div>

<ng-container *ngIf="skillsAreLoading ;then loading else notLoading ">
</ng-container>

<ng-template #loading>
    <div>Cargando projectos</div>
</ng-template>

<ng-template #notLoading>
    <div class="flex w-full items-center flex-col">
        <div app-skill *ngFor="let skill of skills" [skill]="skill" (deleted)="deleteSkill(skill)"
            (updated)="updateSkill($event)" [isEditable]="isEditable">
        </div>
    </div>

    <div *ngIf="skills!.length==0" class="text-base text-gray-400">No hay nada que mostrar</div>
</ng-template>

<app-modal-form *ngIf="showSkillForm" [title]="'Añadir habilidad'" [questions]="skillQuestions"
    [onModalClick]="closeForm" [onSubmit]="addSkill"></app-modal-form>