<ng-container *ngLet="$profile | async as profile">
    <div *ngIf="profile;else loader" class="profile-container">
        <div class="banner-container">
            <img [src]="profile.bannerImage ? profile.bannerImage.url : '/assets/no-image.png'" alt="image"
                class="banner-image">
            <input type="file" accept="image/jpeg, image/png" (change)="uploadBannerImage($event)" class="banner-edit">

        </div>
        <div class="main-profile-container">
            <img [src]="profile.image ? profile.image.url : '/assets/no-image.png' " class="profile-image" alt="image">
            <p>{{profile.name | titlecase}} {{profile.lastName | titlecase}}</p>
            <p>{{profile.title}}</p>
        </div>
        <div class="profile-description-container">
            <p>{{profile.description}}</p>
            <button (click)="openForm()">editar</button>
            <app-modal *ngIf="showForm" (click)="closeForm()">
                <app-dynamic-form (click)="$event.stopPropagation()" [questions]="profileDescriptionQuestions"
                    [onSubmit]="editProfile"></app-dynamic-form>
            </app-modal>
        </div>
    </div>
</ng-container>
<ng-template #loader>
    <p>cargando...</p>
</ng-template>